<mat-card class='top-margin'>
  <mat-card-title>
    <span>Update Task</span>
  </mat-card-title>
  <mat-card-content>
    <form [formGroup]='editTaskGroup'>
      <div>
        <div>
          <mat-form-field>
            <input matInput placeholder='Task' formControlName='task' #task>
          </mat-form-field>
        </div>
        <div>
          <mat-label>Priority(0-30): {{priority.value}} </mat-label>
        </div>
        <div>
          <mat-slider min="0" max="30" step="1" value="0" thumbLabel class="example-full-width" formControlName='priority' #priority>
          </mat-slider>
        </div>
        <div>
          <mat-form-field>
            <input placeholder="Parent Task" aria-label="Number" matInput [matAutocomplete]="auto" formControlName='parentTask' #parentTask>
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let task of _tasks" [value]="task">
                {{task.task}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input matInput [matDatepicker]="startDatePicker" placeholder="Start Date" formControlName='startDate' #startDate>
            <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker> </mat-datepicker>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input matInput placeholder="End Date" [matDatepicker]="endDatePicker" formControlName='endDate' #endDate>
            <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #endDatePicker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div>
        <button mat-raised-button color="primary" (click)='updateTask()' class="btn">Update</button>
        <button mat-raised-button color="warn" (click)='cancelClick()' class="btn">Cancel</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>