<mat-tab-group [selectedIndex]=1>
  <mat-tab label="Add Task">
    <app-add></app-add>
  </mat-tab>
  <mat-tab label="View Task">
    <div>
      <table>
        <tr>
          <td>
            <span>Task:</span>
          </td>
          <td [attr.colspan]="2+1">
            <mat-form-field appearance="fill" class="full-td">
              <mat-label></mat-label>
              <input matInput placeholder="">
            </mat-form-field>
          </td>
          <td>
            <span>Parent Task:</span>
          </td>
          <td [attr.colspan]="3">
            <mat-form-field appearance="fill" class="full-td">
              <mat-label></mat-label>
              <input matInput placeholder="">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <span>Priority From:</span>
          </td>
          <td>
            <mat-form-field appearance="fill">
              <mat-label></mat-label>
              <input matInput placeholder="">
            </mat-form-field>
          </td>
          <td>
            <span>Priority To:</span>
          </td>
          <td>
            <mat-form-field appearance="fill">
              <mat-label></mat-label>
              <input matInput placeholder="">
            </mat-form-field>
          </td>
          <td>
            <span>Start Date:</span>
          </td>
          <td>
            <mat-form-field appearance="fill">
              <mat-label></mat-label>
              <input matInput placeholder="">
            </mat-form-field>
          </td>
          <td>
            <span>End Date:</span>
          </td>
          <td>
            <mat-form-field appearance="fill">
              <mat-label></mat-label>
              <input matInput placeholder="">
            </mat-form-field>
          </td>
        </tr>
      </table>
    </div>
    <mat-divider></mat-divider>
    <div>
      <table style="width:100%">
        <tr *ngFor='let taskObj of tasks'>
          <td>
            <div>
              <div>
                Task
              </div>
              <div>
                <mat-card>
                  <mat-card-content>
                    {{taskObj.task}}
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
          </td>
          <td>
            <div>
              <div>
                Parent Task
              </div>
              <div>
                <mat-card>
                  <mat-card-content>
                    {{parentTaskName(taskObj.parentTask)}}
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
          </td>
          <td>
            <div>
              <div>Priority</div>
              <div>
                <span>{{taskObj.priority}}</span>
              </div>
            </div>
          </td>
          <td>
            <div>
              <div>Start Date</div>
              <div>
                <span>{{taskObj.startDate}}</span>
              </div>
            </div>
          </td>
          <td>
            <div>
              <div>End Date</div>
              <div>
                <span>{{taskObj.endDate}}</span>
              </div>
            </div>
          </td>
          <td>
            <div>
              <button mat-raised-button color='primary' (click)='editView(taskObj.task)' class="btn">Edit</button>
              <button mat-raised-button color='warn' class="btn">End Task</button>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </mat-tab>
</mat-tab-group>